# Copie para secret.yaml e preencha: cp secret.yaml.example secret.yaml
apiVersion: v1
kind: Secret
metadata:
  name: flag-service-secret
  namespace: togglemaster
type: Opaque
stringData:
  POSTGRES_PASSWORD: "<POSTGRES_PASSWORD>"
  DATABASE_URL: "postgres://tm_user:<POSTGRES_PASSWORD>@<FLAG_DB_ENDPOINT>:5432/flag_db"
