# Copie este arquivo para secret.yaml e preencha os valores reais
# cp secret.yaml.example secret.yaml
# Depois aplique: kubectl apply -f secret.yaml
apiVersion: v1
kind: Secret
metadata:
  name: auth-service-secret
  namespace: togglemaster
type: Opaque
stringData:
  POSTGRES_PASSWORD: "<POSTGRES_PASSWORD>"
  MASTER_KEY: "<MASTER_KEY_SEGURA>"
  DATABASE_URL: "postgres://tm_user:<POSTGRES_PASSWORD>@<AUTH_DB_ENDPOINT>:5432/auth_db"
